/*----------------- D3 Styling - Start -----------------*/
.node {
    stroke: #666;
    stroke-width: 1px;
}

.g {
    stroke: #666;
    stroke-width: 0px;
}

.link {
    stroke: #aaa;
    stroke-width: 1px;
}

.nodeLabel {
  font-size:0px;
  color: white;
  text-shadow:

  letter-spacing:2px;
}
